<h1>Editing Article</h1>

<strong>Tags:</strong>
<% @article.keyword_tags.each do |tag| %>
  <span class="alert label"><%= link_to tag.name, del_tag_admin_article_path(:keyword_tags_id => tag), method: :delete %></span>
<% end %>
<br />

<%= form_for @article, :url => { :action => :add_tag } do |f| %>
  <%= fields_for :keyword_tags do |t| %>
      <%= t.text_field :name %>
  <% end %>
  <%= f.submit "Add tag" %>
<% end -%>
<br>

<%= render 'form' %>
<br>
<%= link_to 'Show', admin_article_path(@article), class: "tiny radius button" %>  
<%= link_to 'Back', admin_articles_path, class: "tiny radius button" %>
