<strong>Tags:</strong>
<% @article.keyword_tags.each do |tag| %>
  <td><%= link_to tag.name, keyword_tag_path(tag) %></td>
<% end %>

<%= form_for @article, :url => { :action => :add_tag } do |f| %>
  <%= fields_for :keyword_tags do |t| %>
      <%= t.text_field :name %>

  <% end %>
  <%= f.submit "Add tag" %>
<% end %>
<br>