<h1>Editing Article</h1>



<strong>Tags:</strong>
<% @article.keyword_tags.each do |tag| %>
  <span class="alert label"><%= link_to tag.name, del_tag_article_path(:keyword_tags_id => tag), method: :delete %></span>
  <%#= link_to 'Destroy', tag, method: :delete, data: { confirm: "Are you sure?" }, class: "tiny radius button" %>
<% end %>
<br />
<%#= form_tag keyword_tags_path(@article), :method => :post  do %>
  <%#= text_field_tag "keyword" %>
  <%#= submit_tag "Add tag" %>
<%# end %>

<%= form_for @article, :url => { :action => :add_tag } do |f| %>
  <%= fields_for :keyword_tags do |t| %>
      <%= t.text_field :name %>

  <% end %>
  <%= f.submit "Add tag" %>
<% end %>
<br>

<br>
<%#= params.inspect %>
<%= render 'form' %>
<br>
<%= link_to 'Show', @article, class: "tiny radius button" %>  
<%= link_to 'Back', articles_path, class: "tiny radius button" %>
