<p id="notice"><%= notice %></p>

<p>
  <%#<strong>Title:</strong> %>
  <h2><%= @article.title %></h2>
</p>

<strong>Tags:</strong>
<% @article.keyword_tags.each do |tag| %>
  <td><%= link_to tag.name, keyword_tag_path(tag) %></td>
<% end %>

<p>
  <%#strong>Text:</strong> %>
  <%= markdown(@article.text) %>
</p>

<p>
  Update:
  <%= @article.updated_at %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
